@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@config '../../typography.ts';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-violet-50: #f3f0fe;
  --color-violet-100: #e4ddfb;
  --color-violet-200: #cdc0f7;
  --color-violet-300: #a992f2;
  --color-violet-400: #7b5eed;
  --color-violet-500: #6240e8;
  --color-violet-600: #5232c0;
  --color-violet-700: #432599;
  --color-violet-800: #351f65;
  --color-violet-900: #291847;
  --color-violet-950: #1a0f33;

  --text-2xs: 0.75rem;
  --text-2xs--line-height: 1.25rem;
  --text-xs: 0.8125rem;
  --text-xs--line-height: 1.5rem;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.5rem;
  --text-base: 1rem;
  --text-base--line-height: 1.75rem;
  --text-lg: 1.125rem;
  --text-lg--line-height: 1.75rem;
  --text-xl: 1.25rem;
  --text-xl--line-height: 1.75rem;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 2rem;
  --text-3xl: 1.875rem;
  --text-3xl--line-height: 2.25rem;
  --text-4xl: 2.25rem;
  --text-4xl--line-height: 2.5rem;
  --text-5xl: 3rem;
  --text-5xl--line-height: 1;
  --text-6xl: 3.75rem;
  --text-6xl--line-height: 1;
  --text-7xl: 4.5rem;
  --text-7xl--line-height: 1;
  --text-8xl: 6rem;
  --text-8xl--line-height: 1;
  --text-9xl: 8rem;
  --text-9xl--line-height: 1;

  --shadow-glow: 0 0 4px rgb(0 0 0 / 0.1);

  --container-lg: 33rem;
  --container-2xl: 40rem;
  --container-3xl: 50rem;
  --container-5xl: 66rem;
}

@layer base {
  [inert] ::-webkit-scrollbar {
    display: none;
  }
}
